@import "tailwindcss";
@font-face {
    font-family: poppinsm;
    src: url(../assets/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsb;
    src: url(../assets/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsl;
    src: url(../assets/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinssb;
    src: url(../assets/Poppins/Poppins-SemiBold.ttf);
}

:root {
    --fundocard: rgba(8, 78, 99, 0.527);
    --normal: poppinsm, sans-serif;
    --bold: poppinsb, sans-serif;
    --light: poppinsl, sans-serif;
    --semibold: poppinssb
}

.cx {
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
}
